/*
    Author: Róbert Páleš
    File: style.cc
    Date: 25.4.2025
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: century gothic;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

/* heading underline */
h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000000;
}

#education h1, 
#contact h1 {
    margin-bottom: 7vh;
}

html::selection {
    background-color: #415a77;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    background-color: #bdc3c7;
    margin: 0 auto;
    width: 100%;
}

section {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/*------------------------HEADER--------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #415a77;
    transition: 0.5s ease;
    z-index: 100;
}

/* when side nav is tríggered */
header.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.header-content {
    display: flex;
    width: 60%;
    height: 4rem;
    margin: 0 auto;
    align-items: center;
}

.mydesc h2 {
    font-size: 3rem;
    text-align: center;
}

.logo {
    height: 100%;
    object-fit: contain;
    display: block; 
    transition: filter 0.5s ease;
}

.logo:hover {
    filter: invert(1);
}

.header-content a {
    height: 100%;
}

/*----------main navigation------------*/
.main-nav {
    margin: 0 auto;
}

.main-nav ul li{
    list-style-type: none;
}

.main-nav ul {
    display: flex; 
    gap: 3rem;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.main-nav ul li a {
    font-size: 1.1rem;
    color: white;
    transition: 0.5s ease;
}

.main-nav ul li a:hover {
    color: black;
}

.main-nav ul li a:hover::after {
    width: 100%;
}

/* hover underline */
.main-nav ul li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    margin: auto;
    background-color: black;
    transition: 0.5s ease;
}

/* open side navigation element */
.open-side-nav {
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
}

.open-side-nav.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/*--------------------------------------*/

/*---------------------------------------------------------*/

/*-----------side navigation------------*/
/* close side navigation element */
.close-side-nav {
    margin: 0;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    align-self: flex-end;
    padding: 20px;
}

.open-side-nav:hover, 
.close-side-nav:hover {
    color: #000000;
}

.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 15vw;
    height: 100vh;
    background-color: rgba(65, 90, 119);
    transform: translateX(100%); 
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 100;
}

.side-nav.active {
    transform: translateX(0);    
    opacity: 1;
    pointer-events: all;
    width: 15vw;
}

.side-nav .logo {
    width: 100%;
    object-fit: contain;
}

/* dark background overlay when side nav is triggered*/
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    z-index: 9;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
} 

.side-nav-content {
    display: flex;
    flex-direction: column;
    margin: auto 0 ;
    align-items: center;
}

.side-nav-content ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: auto;
}

.side-nav-content ul li {
    width: max-content;
    list-style-type: none;
}   

.side-nav-content a {
    width: 50%;
}

.side-nav-content ul li a {
    color: white;
    font-size: 1.1rem;
    transition: 0.5s ease;
}

.side-nav-content ul li a:hover {
    color: black;
}

.side-nav-content ul li a:hover::after {
    width: 100%;
}

.side-nav-content ul li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    margin: auto;
    background-color: black;
    transition: 0.5s ease;
}
/*--------------------------------------*/

/*------------------------HOME-----------------------------*/
#home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

#home .grid-item { 
    justify-items: center;
    justify-content: center;
    align-content: center;
}

/* display none because js is handling the fadein efect */
.mydesc {
    display: none;
}

#home .grid-item p {
    color: black;
    grid-column-start: 2;
    font-size: 1.6rem;
    display: block;
    text-align: center;
}

/* display none because js is handling the fadein efect */
#home .grid-item img {
    display: none;
    width: 100%; 
    filter: blur(1px) grayscale(100%) contrast(100%) opacity(0.7);
    border-radius: 10px;
}

#home .grid-item:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-button {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
}

.contact-button a {
    color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    width: max-content;
    background-color: #415a77;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.contact-button a.visible {
    opacity: 1;
    visibility: visible;
}

.contact-button a:hover {
    color: black;
}

/*---------------------------------------------------------*/
/*-------------------------SKILLS--------------------------*/
#skills {
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

#skills p {
    text-align: center;
    font-size: 1.1rem;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
}

.skills-content .skills-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    flex: 1; 
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 2;
}

.skills-content .skills-grid-item:hover {
    transform: scale(1.1);
    filter: none;
    z-index: 2;
}

.skills-content:has(.skills-grid-item:hover) .skills-grid-item:not(:hover) {
    filter: blur(3px);
    transform: scale(1);
    z-index: 2;
}

.skills-content .skills-grid-item:hover h2 {
    color: black;
}

.skills-content div ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1.2rem 0;
}

.skills-content div ul li {
    font-size: 1.1rem;
}

#skills div h2::after {
    content: "";
    display: block;
    background-color: black;
    border-bottom: 1px solid black;
    height: 1px;
    width: 100%;
    margin-top: 20px;
}

.skills-content .skills-grid-item h2 span {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
}

.skills-content .skills-grid-item h2 span::after {
    content: "";
    display: block;
    width: 0;
    margin: auto;
    height: 1px;
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

.skills-content .skills-grid-item:hover h2 span::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.skills-content h2 {
    background-color: #415a77;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding-top: 20px;
    transition: 0.5s ease;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.skills-icons img {
    width: 80%;
    justify-self: center;
}

.skills-icons img {
    display: flex;
    justify-content: center;
    color: #333;
    filter: grayscale(100%) contrast(120%);
    transition: filter 0.3s ease;
}

.skills-icons img:hover {
    filter: grayscale(0%) contrast(100%) drop-shadow(0 0 10px black);
}

/*---------------------------------------------------------*/
/*-----------------------EDUCATION-------------------------*/

.education-item {
    display: flex;
    flex-direction: column;
    height: 30vh;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 10px;
    transition: 0.5s ease;
}

.education-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 0.1fr 1fr;
    position: relative;
    align-items: center;
}

.education-content p {
    text-align: center;
    font-size: 1.3rem;
}

.education-content a {
    color: black;
    font-size: 1.1rem;
}

.timeline{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background-color: #000000;
}

/* point on timeline */
.timeline::before {
    content: "";
    position: absolute;
    top: 23%;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    transition: all 0.5s ease;
}

/* point on timeline */
.timeline::after {
    content: "";
    position: absolute;
    bottom: 23%;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

/* fit description */
.education-item:nth-child(4){
    grid-row-start: 2;
    grid-column-start: 3;
}

/*--------education-item hover efects-----------*/
.education-item:nth-of-type(2):hover ~ .date.sps img,
.education-item:nth-of-type(3):hover img{
    filter: grayscale(0%) opacity(0.2);
}

.education-item:nth-of-type(4):hover ~ .date.fit img,
.education-item:nth-of-type(5):hover img {
    filter: grayscale(0%) opacity(0.2)
}

.education-content:has(.education-item:nth-of-type(4):hover) .timeline::after,
.education-content:has(.education-item:nth-of-type(5):hover) .timeline::after {
    background-color: #415a77;
}

.education-content:has(.education-item:nth-of-type(2):hover) .timeline::before,
.education-content:has(.education-item:nth-of-type(3):hover) .timeline::before {
    background-color: #415a77;
}
/*--------------------------------------------*/

.date img {
    filter: grayscale(100%) opacity(0.1);
    transition: filter 0.5s ease;
}

.date p{
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.5s ease;
}

.date.sps p {
    text-align: left;
} 

.date.fit p {
    text-align: right;
} 

.date.sps {
    grid-column-start: 3;
    grid-row-start: 1;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.date.fit {
    grid-column-start:1;
    grid-row-start: 2;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* absolute positioning against .date.sps */
.date.sps img {
    width: 30%;
    right: 40%;
    position: absolute;
}

/* absolute positioning against .date.fit */
.date.fit img {
    width: 80%;
    position: absolute;
}
/*---------------------------------------------------------*/

/*------------------------CONTACT--------------------------*/
form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    margin: 0 auto;
}

.contact-form p {
    text-align: center;
    font-size: 1.1rem;
}

form input, textarea, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: 0.8rem;
}

/* submit button */
form button {
    padding: 10px 20px;
    color: white;
    background-color: #415a77;
    border: none;
    border-radius: 25px;
    width: max-content;
    align-self: center;
    transition: 0.5s ease;
    outline: none;
    cursor: pointer;
}

form button:hover {
    color: black;
}

form label {
    color: rgb(68, 87, 109);
    font-weight: 900;
    font-size: 1.1rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
/*---------------------------------------------------------*/

/*-------------------------FOOTER--------------------------*/
footer {
    width: 100%;
    padding: 50px 0;
    background-color: #415a77;
}

footer p {
    color: white
}

footer p a {
    color: white;
    transition: 0.5s ease;
}

footer p a:hover {
    color: black;
}

/* social icons */
.footer-icons {
    display: flex;
    gap: 1rem;
}

.footer-icons a {
    color: white;
    font-size: 2rem;
    transition: all 0.5s ease;
}
  
.footer-icons a:hover {
    color: black; 
    transform: translateY(-7px);
}

.footer-content .logo {
    width: 20%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
/*---------------------------------------------------------*/

/* scroll to top button */
#scroll-button {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    right: 1rem;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #415a77;
    border: 1px solid black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 100;
}

#scroll-button.visible {
    opacity: 1;
    visibility: visible;
}

.fa-arrow-up {
    color: white;
    font-size: 1.1rem;
    transition: 0.5s ease;
}

#scroll-button:hover .fa-arrow-up {
    color: rgb(0, 0, 0);
}

/* form submit popup */
#popup {
    position: fixed;
    top: 13vh;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    height: auto;
    border-radius: 20px;
    background-color: #415a77;
    padding: 25px;
    text-align: center;
    color: white;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

#popup.active {
    opacity: 1;
    visibility: visible;
}

/* thank you */
#popup span {
    font-size: 1.8rem;
}

#popup div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
}

/* tick */
#popup .fa-circle-check {
    font-size: 3rem;
}

/* hide main navigation on smaller screens */
@media screen and (max-width: 870px)
{   
    .header-content {
        height: 4rem;
    }

    .header-content ul {
        display: none;
    }

    .open-side-nav {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        pointer-events: auto;
    }

    .side-nav {
        width: 30vw;
    }

    .side-nav.active {
        width: 30vw;
    }

    .side-nav ul {
        gap: 2rem;
    }

    .side-nav-content ul li a {
        font-size: 0.8rem;
    }
}

/* mobile phones */
@media screen and (max-width: 576px)
{   
    h1 {
    font-size: 1.7rem;
    }
    
    section {
        width: 90%;
        height: 85vh;
    }

    #home {
        grid-template-columns: 1fr;
        margin-top: 4rem;
        gap: 0;
    }

    #home .grid-item {
        width: 100%;
        height: max-content;
        margin: 0 auto;
    }

    #home .grid-item p {
        font-size: 1rem;
    }

    /* change the order */
    #home .grid-item:nth-child(1) {
        order: 2;
    }

    #home .grid-item:nth-child(2) {
        align-self: center;
    }

    /* my name */
    .mydesc h2 {
        font-size: 1.7rem;
    }
    
    /* contact me */
    .contact-button a {
        font-size: 0.8rem;
        align-self: center;
        justify-self: center;
    }

    #skills {
        gap: 2rem;
        height: auto;    
    }

    #skills p {
        font-size: 0.8rem;
    }
    
    .skills-content {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }

    .skills-content h2 {
        padding: 0;
    }
    
    /* space */
    #skills div h2::after {
        margin-top: 8px;
    }

    .skills-content div ul {
        gap: 0.5rem;
        margin: 10px auto;
    }

    .skills-icons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .skills-icons img {
        width: 70%;
    }

    .skills-content .skills-grid-item{
        height: 15vh;
        min-width: 130px;
        max-width: 170px;
        width: 60%;
    }

    .skills-content div ul li {
        font-size: 0.8rem;
    }

    .skills-content .skills-grid-item h2 span {
        font-size: 0.9rem;
    }

    .timeline::before {
        width: 10px;
        height: 10px;
        left: -4px;
    }
    
    .timeline::after {
        width: 10px;
        height: 10px;
        left: -4px;
    }

    .education-content a {
        font-size: 0.8rem;
    }

    .education-content p{
        font-size: 0.8rem;
    }

    .date p{
        font-size: 0.8rem;
    }

    #contact {
        margin-bottom: 3rem;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form p {
        font-size: 0.8rem;
    }

    form label {
        font-size: 0.8rem;
    }

    form input, textarea, button {
        font-size: 0.7rem;
    }

    footer {
        padding: 20px 0;
    }

    .footer-content {
        grid-template-areas: "logo logo logo" "icons icons icons" "copyright copyright copyright" ;
        gap: 10px;
    }

    .footer-content a:nth-child(2) {
        display: flex;
        justify-content: center;
    }

    .footer-content p{
        grid-area: copyright;
        font-size: 0.7rem;
        min-width: 220px;
    }
    
    .footer-content a{
        grid-area: logo;
    }

    .footer-icons{
        grid-area: icons;
        align-items: center;
    }

    .footer-icons a{
        font-size: 1.5rem;
    }

    #scroll-button {
        padding: 0;
        height: 2rem;
        width: 2rem;
    }

    .fa-arrow-up {
        color: white;
        font-size: 0.8rem;
    }

    #popup {
        width: 50vw;
    }

    #popup span {
        font-size: 1.3rem;
    }

    #popup div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.7rem;
    }

    #popup .fa-circle-check {
        font-size: 2.5rem;
    }
}
